{
  "plugins": [
    "https://downloads.wordpress.org/plugin/gutenberg.zip",
    "https://downloads.wordpress.org/plugin/complianz-gdpr.zip",
    "https://downloads.wordpress.org/plugin/ultimate-maps-by-supsystic.zip",
    "https://downloads.wordpress.org/plugin/ninja-forms.zip",
    "https://downloads.wordpress.org/plugin/wp-api-swaggerui.1.1.2.zip",
    "./plugins/cm4all-wp-impex",
    "./plugins/cm4all-wp-impex-example"
  ],
  "mappings": {
    "wp-content/plugins/cm4all-wordpress": "../cm4all-wordpress/packages/wordpress/wp-content/plugins/cm4all-wordpress",
    "wp-content/themes/trinity-core": "../cm4all-wordpress/packages/wordpress/wp-content/themes/trinity-core"
  }
}
